    configurations:
        contact:
            number: ""
            type: "phone"
        meetings_api:
            api_application_id: ""
            api_private_key: "./private.key"
        api_account:
            key: ""
            secret: ""
            sms_callback_url: ""
        section1:
            key1: this is an example
        section2:
            key2: 42