project:
    name: neru-test-app // ignore this when not deployed in NeRu
instance:
    name: dev // ignore this when not deployed in NeRu
    runtime: nodejs // ignore this when not deployed in NeRu
    region: aws.use1 // ignore this when not deployed in NeRu
    application-id: ab165ab2-9001-4bad-8c6c-79bcafcd9658 // ignore this when not deployed in NeRu
    configurations:
        contact:
            number: "12013451513" // the from number used in sending messages
            type: "phone"
        meetings_api:
            api_application_id: "362950b4-4e84-4dec-8263-74055479ec59" // the applicaiton ID used for generating jwt token for meetings API
            api_private_key: "./private.key" // the private key of the applicaiton ID used for generating jwt token for meetings API
            url_sms_callback: "http://{yourDomain}/onMessagesEvent" // callback URL to receive messages callbacks
        section1:
            key1: this is an example
        section2:
            key2: 42
