project:
    name: neru-test-app
instance:
    name: dev
    runtime: nodejs16
    region: aws.use1
    application-id: 
    secrets:
        - API_SECRET
    capabilities:
        - messaging
    configurations:
        vonage_number: 
    entrypoint:
        - npm
        - start
debug:
    name: training
    entrypoint:
        - npm
        - start
